*,
*:before,
*:after {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

@import 'https://fonts.googleapis.com/css?family=Modak';

body {
	background-image: url("file:///C:/Users/Sara/Documents/GitHub/saragerou.github.io/unit_4/images/background.jpg");
	background-size: cover;
	font-size:16px; /*1m = 16px*/
	
}

header {
	color: #FFFFFF;
	font-family: 'Modak', cursive;
	font-weight: bold;
	font-size: 42px;
	text-align: center;
}

h2 {color: #FFFFFF;
	font-family: 'courier new';
	font-weight: normal;
	font-size: 36px;
	padding-top:24px;
	text-align: center;
}

h3 {color: #FFFFFF;
	font-family: 'courir new';
	font-size: 24px;
	text-transform: uppercase;
	padding-top:24px;
	text-align: center;
}

p {
	color: #FFFFFF;
	font-size: 18px;
	width:30em;
	text-align: center;
	margin: auto;
	line-height: 1.5em;
}

footer {
	color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	text-align: center;
}

hr {
	color: #FFFFFF;
}

a { 
	color: #FFFFFF;
	text-decoration: none;
	border-bottom: 1px solid #CCCCCC; 
}

nav {
	margin: 2em;
	padding: 0;
	text-align: center;
	word-spacing: 3em;
	margin-top: 40px;
	font-family: Cambria, serif;
	font-size: 24px;
	line-height: 1.2em;
	color: #FFFFFF;
}

nav a:hover {
	text-decoration: none;
	font-family: Cambria, serif;
	font-size: 24px;
	line-height: 1.2em;
	color: #EFDC05;
}

.logo {
	text-align: left;
	margin: auto;
	padding: 24px;
}

.cards {
	text-align: center;
	margin: auto;
}

