body {
	background: url("file:///C:/Users/Sara/Documents/GitHub/saragerou.github.io/unit_3/images/brick_wall.JPG"); 
	background-size: cover;
	text-align: center;
}

h1, h2 {
	color: #ff5f2e;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
}

p {
	color: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
}

a { 
	color: #bd1550; 
}