*,
*:before,
*:after {
margin: 0;
padding: 0;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
	background-color: #cccccc;
	background-image: url(file:///C:/Users/Sara/Documents/GitHub/saragerou.github.io/unit_3/images/neptune_couch.jpg);
	background-size: cover;
	background-repeat: repeat-x;
	
}

h1 {
	color: #383838;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 48px;
	font-weight: normal;
	text-decoration: underline;
	text-transform: uppercase;
	padding-top: 20px;
}

h2 {color: #585858;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 36px;
	font-weight: normal;
	text-transform: uppercase;
	padding-top:24px;
}

p {
	color: #282828;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 24px;
}

a { 
	color: #bd1550; 
}